<h2>Créer une nouvelle tache</h2>

<form id="new-proposition" novalidate>
    <ul class="tasks">
        {{#each tasks}}
            <li>
                
                <div class="nom">{{this.nom}}</div>
                
                <div class="titre">Titre <div>{{this.title}}</div></div>
                <input type="description">description <div>{{this.description}}</div></div>
                <input type="priorite">Preorite<div>{{this.priority}}</div></div>
                
            </li>
        {{/each}}
    </ul>

    <div class="colle-bas">
        <input type="text" name="nom" placeholder="Nom de la proposition " required minlength="10" maxlength="100">
        <input type="submit" value="Créer la proposition">
    </div>
</form>