<header>
  
  
    <h1>Gerer les taches</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/creer_Tache"Creer une tache></a>
            </li>
             <li>
                <a href="/taches" Mes Taches>Accueil</a>
            </li>
             <li>
                <a href="/edit" Modifer une tache></a>
            </li>
             
             <li>
                <a href="/se-connecter" Se Connecter></a>
            </li>
            
            
        </ul>
                <div>
                    <input type="text" name="Rechercher">
                <button type="submit">Rechercher</button>
                </div>
    </nav>
</header>