<header>
    <h1>Gérer les tâches</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/creer_Tache">Créer une tâche</a></li>
            <li><a href="/taches">Mes Tâches</a></li>
            <li><a href="/edit/1">Modifier une tâche</a></li> <!-- Example ID -->
        </ul>
       
    </nav>
</header>
