<header>
  
  
    <h1>Gerer les taches</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/Echanges"Tous les echanges></a>
            </li>
             <li>
                <a href="/mes-echanges" Mes Echanges>Accueil</a>
            </li>
             <li>
                <a href="/creer-un-echange" Creer Un Echange></a>
            </li>
             <li>
                <a href="/echange-specefique" Echange Specifique></a>
            </li>
             <li>
                <a href="/se-connecter" Se Connecter></a>
            </li>
            
            
        </ul>
                <div>
                    <input type="text" name="Rechercher">
                <button type="submit">Rechercher</button>
                </div>
    </nav>
</header>