<form action="/api/taches/{{tache.id}}?_method=PUT" method="POST">
    {{#if errors}}
        <ul class="error-list">
            {{#each errors}}
                <li class="error">{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <input type="text" name="title" value="{{tache.title}}" required>
    <textarea name="description">{{tache.description}}</textarea>

    <label for="priority">Priorité :</label>
    <select name="priorityId">
        <option value="1" {{#if (eq tache.priorityId 1)}}selected{{/if}}>Faible</option>
        <option value="2" {{#if (eq tache.priorityId 2)}}selected{{/if}}>Moyenne</option>
        <option value="3" {{#if (eq tache.priorityId 3)}}selected{{/if}}>Haute</option>
    </select>

    <label for="status">Statut :</label>
    <select name="statusId">
        <option value="1" {{#if (eq tache.statusId 1)}}selected{{/if}}>À faire</option>
        <option value="2" {{#if (eq tache.statusId 2)}}selected{{/if}}>En cours</option>
        <option value="3" {{#if (eq tache.statusId 3)}}selected{{/if}}>Terminé</option>
    </select>
<label>Date d'échéance:</label>
    <input type="datetime-local" name="due_date" required>

    <button type="submit">Mettre à jour</button>
    <button type="submit" href="/taches">Annuler</button>
            
</form>
