<div class="container">
    <h2 class="text-center">Liste des Tâches</h2>

    <ul class="tasks">
        {{#each taches}}
        <li>
            <div><strong>{{this.title}}</strong></div>
            <div>{{this.description}}, Priorité : <strong>{{this.priority}}</strong></div>
        </li>
        {{/each}}
    </ul>

    <a href="/creer_Tache" class="btn-add">Ajouter une tâche</a>
</div>