<h2>Listes des taches </h2>

<ul>
    {{#each taches}}
    <li>
              <div>{{this.title}}</div>
            <div>{{this.description}}, {{this.priority}}</div>
            
        </li>
    {{/each}}

   
        <button type="submit">Ajouter</button>
    </form>
    