<h2>Listes des taches </h2>

<ul>
    {{#each taches}}
    <li>
              <div>{{this.title}}</div>
            <div>{{this.description}}, {{this.priority}}</div>
            
        </li>
    {{/each}}

   
        <a href="/creer_Tache" class="btn action-btn btn-add">Ajouter une tâche</a>
    </form>
    